@model WebApplication2.ViewModel.CustomerViewModel
    @using WebApplication2.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterCustome</title>
</head>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Customer.js"></script>
<script language="javascript">
   
       
    
    //App
    var app = angular.module("myApp", []);
    //Controller
    app.controller('CustomerViewModel', CustomerViewModel);
</script>
<body ng-app="myApp">
   
    <div> 
        <div ng-controller="CustomerViewModel">
            <form id="frm1">
                <i>Customer Name:-</i>   <input id="Text1" ng-model="Customer.CustomerName" type="text" name="customer.CustomerName" /><br />
                @Html.ValidationMessageFor(x => x.customer.CustomerName)<br />
                <i>Customer Code:-</i><input id="Text1" ng-model="Customer.CustomerCode" type="text" name="customer.CustomerCode" /><br />
                @Html.ValidationMessageFor(x => x.customer.CustomerCode)<br />
                <i>Customer Amount:-</i><input id="Text1" type="text" ng-model="Customer.CustomerAmount"
                                               style="background-color:{{ Customer.CustomerAmountColor}}"
                                               name="customer.CustomerAmount" /><br />

            </form>
            
            <input id="Btn" type="button" value="Add customer" ng-click="Add()" />
            <input id="Btn" type="button" value="Update customer" ng-click="Update()" />
            <input id="Btn" type="button" value="Delete customer" ng-click="Delete()" />

            <br />
          
            <table id="tbl">
                <tr>
                    <td>Customer Code</td>
                    <td>Customer Name</td>
                    <td >Customer Amount</td>
                </tr>
                <tr ng-repeat="cust in Customers">
                    <td>{{cust.CustomerCode}}</td>
                    <td>{{cust.CustomerName}}</td>
                    <td style="background-color:{{ cust.CustomerAmountColor}}">
                        {{cust.CustomerAmount}}</td>
                    <td><a ng-click="LoadByCode(cust.CustomerCode)" href="#">Select</a></td>
                </tr>
            </table>
        </div>
        </div>
</body>
</html>
